
	h1 {color:purple;}
	p {color:LightSeaGreen;}
	
	body { 
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: MediumOrchid;
    background-color: OldLace }
	
	section{
	background-color: #F4ECF7;
	}
	.centerImage
	{
	text-align:center;
	display:block;
	}
	
	/*top Menu*/
	ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dddddd;
	}
	li { 
	float: left;
	}
	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
	li a:hover:not(.active) {
	background-color: #ff9200;
	}
	.active {
	background-color: #4CAF50;
	}
	
	/*main menu*/
	.collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	}
	.active, .collapsible:hover {
	background-color: #ccc;
	}
	.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
	}
	
	
	/* footer*/
	.fa-linkedin {
	background: #007bb5;
	color: white;
	}
	.fa-youtube {
	background: #bb0000;
	color: white;
	}
	/* javascript */
	#container {
 	 width: 400px;
 	 height: 400px;
  	position: relative;
  	background: yellow;
	}
	