
	h1 {color:purple;}
	p {color:LightSeaGreen;}

	body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: MediumOrchid;
    background-color: OldLace }

	section{
	background-color: #F4ECF7;
	}
	.centerImage
	{
	text-align:center;
	display:block;
	}

	/*top Menu*/
	ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dddddd;
	}
	li {
	float: left;
	}
	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
	li a:hover:not(.active) {
	background-color: #ff9200;
	}
	.active {
	background-color: #4CAF50;
	}

	/*main menu*/


	/* Style the buttons that are used to open and close the accordion panel */
	.accordion {
	  background-color: #eee;
	  color: #444;
	  cursor: pointer;
	  padding: 18px;
	  width: 100%;
	  text-align: left;
	  border: none;
	  outline: none;
	  transition: 0.4s;
	}

	/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
	.active, .accordion:hover {
	  background-color: #ccc;
	}

	/* Style the accordion panel. Note: hidden by default */
	.panel {
	  padding: 0 18px;
	  background-color: white;
	  display: none;
	  overflow: hidden;
	}
	/* footer*/
	.fa-linkedin {
	background: #007bb5;
	color: white;
	}
	.fa-youtube {
	background: #bb0000;
	color: white;
	}
	/* javascript */
	#container {
 	 width: 400px;
 	 height: 400px;
  	position: relative;
  	background: yellow;
	}
